@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');

#tableDiv,
#tableDiv table,
#tableDiv th,
#tableDiv td,
#tableDiv button,
#tableDiv select,
#tableDiv select option,
#tableDiv input {
    font-family: 'Montserrat', sans-serif;
}

#tableDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10vh;
    width: 80%;
    max-width: 800px;
}

#tableDiv table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
}

#tableDiv th,
#tableDiv td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 1.2em;
}

#tableDiv th {
    background-color: #f2f2f2;
}

#tableDiv tr:nth-child(even) {
    background-color: #f9f9f9;
}

#tableDiv tr:hover {
    background-color: #ddd;
}

#tableDiv button {
    padding: 12px 24px;
    background-color: #F178A6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

#tableDiv select,
#tableDiv input {
    padding: 10px;
    font-size: 1em;
}

/* Responsive styles for mobile devices */
@media (max-width: 600px) {
    #tableDiv {
        width: 95%;
        margin-top: 5vh;
    }

    #tableDiv th,
    #tableDiv td {
        padding: 8px;
        font-size: 1em;
    }

    #tableDiv button {
        padding: 10px 20px;
        font-size: 1em;
    }

    #tableDiv select,
    #tableDiv input {
        padding: 8px;
        font-size: 0.9em;
    }
}