/* Landing.css */
@font-face {
    font-family: "motley-forces";
    src: url(../Assets/MotleyForcesRegular-w1rZ3.ttf);
}

* {
    font-family: "motley-forces";
}

.containerLogin {
    width: 100%;
    min-height: 100vh;
    background: #f8e5ed;
}

.headerLogin {
    
}

.textLogin {
  
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f03784;
    padding: 30px 10%;
}

.navbar ul img {
    transition: 0.5s;
}

.navbar ul img:hover {
    transform: translateY(-10px);
}

#elephantLogo {
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: -10px;
}

#elephantLogo:hover {
    transform: translateY(-10px);
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 100px;
    font-size: 30px;
}

.navBarText {
    text-decoration: none;
    color: #ffffff;
    font-size: 35px;
    font-weight: 900;
    text-shadow: 1px 1px 4px black;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 110px 25px;
    border-radius: 6px;
    font-size: 50px;
    font-weight: bold;
    color: black;
}

.contactButton {
    width: 240px;
    height: 70px;
    background-color: #ffaace;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    text-align: center;
    margin: 150px 25px;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.contactButton:hover {
    background-color: rgb(255, 190, 220);
    transform: translateY(-5px);
}

/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #a04068;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #c37495;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 820px) {
    .nav__links,
    .cta {
        display: none;
    }
    .menu {
        display: initial;
    }
}
