/* Landing.css */

.containerLogin {
    width: 100%;
    min-height: 100vh;
    background: #f8e5ed;
}

  #logo {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  #logo:hover {
    transform: translateY(-5px); 
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #de6195; 
    padding-bottom: 5px;
    box-shadow: 2px 2px 5px #000000;
    width: 100%;

}

.navbar ul img {
    transition: 0.5s;
}

.navbar ul img:hover {
    transform: translateY(-10px);
}

#elephantLogo{
    margin-bottom: -10px;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 100px;
    font-size: 30px;

}

.navBarText {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-shadow: 1px 1px 4px black;
}

.contacts {
    display: flex;
    margin: 110px 25px;
    border-radius: 6px;
    font-size: 50px;
    font-weight: bold;
justify-content: center;
}