@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 1200px;
    background-color: #f7e8ee;
    padding-bottom: 30px;
    border-radius: 25px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;

}

.text {
    color: #ffaace;
    font-size: 36px;
    font-weight: 700;
    
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.underline {
    width: 66px;
    height: 6px;
    background-color: #ffaace;
    border-radius: 9px;

}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}
.inputs img {
    margin: 0px 30px;

}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #df327a;
    border-radius: 6px;
   

}
input::placeholder {
    color: white;
}


.input img {
    margin: 0px 30px;

}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 19px;
}
.submit-container {
display: flex;
gap: 30px;
margin: 60px auto;

}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: rgb(255, 255, 255);
    background: #c0306c;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;

    transition: transform 0.5s, background-color 0.5s;
}

.submit:hover {
    transform: translateY(-10px);
    background-color: rgb(255, 190, 220);
  

}