@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}


.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    margin-top: 10vh;
    width: 90vw;
    height: 80vh;
    background-color: #f7e8ee;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #ffaace;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin-top: 30px;

}


.text {
    color: #ffaace;
    font-size: 36px;
    font-weight: 700;

    width: fit-content;
    height: auto;
    
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.underline {
    margin-top: 40px;;
    width: 70vw;
    height: 6px;
    background-color: #ffaace;
    border-radius: 9px;

}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
}

.inputBox {
    display: flex;
    align-items: center;
    margin: auto;
    background: #df327a;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    width: 90%;
    height: 50px;
}

input::placeholder {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 80%;
}

.inputBox input {
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 19px;
}

.submit-container {
display: flex;
gap: 30px;
margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: rgb(255, 255, 255);
    background: #c0306c;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);

    transition: transform 0.5s, background-color 0.5s;
}

.submit:hover {
    transform: translateY(-10px);
    background-color: rgb(255, 190, 220);
  

}